* {
  border: none;
  border-radius: 15px;
  font-size: 15px;
}

window#waybar {
  background-color: rgba(26, 27, 38, 0.3);
  transition-property: background-color;
  transition-duration: 0.5s;
  min-height: 18px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  margin: 0px;
  color: white;
}
#workspaces button {
  padding: 2px 9px;
  min-width: 15px;
}

#workspaces button.focused {
  color: black;
}

#workspaces button.active {
  color: black;
}

#workspaces button:hover {
  background: transparent;
}

#disk,
#clock,
#tray,
#battery,
#pulseaudio,
#network,
#temperature,
#cpu,
#memory,
#bluetooth,
#custom-power {
  padding: 2px 6px;
}

#custom-power {
  color: #db4b4b;
  margin-right: 10px;
}

#network {
  color: #b6efae;
}
#bluetooth {
  color: #b6e3ce;
}

#pulseaudio {
  color: #fae3b0;
}

#battery {
  color: #b5e8e0;
}

#battery.charging,
#battery.plugged {
  color: #b5e8e0;
}

#battery.critical:not(.charging) {
  color: #b5e8e0;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: #bf616a;
  }
}

#backlight {
  color: #a8cd96;
}
#clock {
  color: #cbe9b3;
}

#memory {
  color: #adf6f2;
}
#cpu {
  color: #a0f2fb;
}

#temperature {
  color: #b6fdbb;
}

#tray {
}

#disk {
  color: #a5f8e0;
}
