* {
	border: none;
	border-radius: 8;
    font-family: "FiraCode Nerd Font";
	font-size: 15px;
    font-weight: normal;
	min-height: 10px;
}

window#waybar {
	background: transparent;
}

#workspaces {
	margin: 0px;
	margin-left: 10px;
	border-radius: 10px;
}
#workspaces button {
    padding: 0 9px;
    min-width: 40px;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #373737;
}

#workspaces button.focused {
    color: #7aa2f7;
    border-top: 1px solid #7aa2f7;
    border-bottom: 1px solid #7aa2f7;
}

#workspaces button.active {
    color: #7aa2f7;
    border-top: 1px solid #7aa2f7;
    border-bottom: 1px solid #7aa2f7;
}

#workspaces button:hover {
    background: transparent;
	border-radius: 8px;
}

#clock, #tray, #battery, #pulseaudio, #network, #temperature,#cpu,#memory, #bluetooth {
	margin-top: 3px;
	margin-left: 3px;
	padding: 0 6px;
	transition: none;
    color: transparent;
	background: transparent;
}

#network {
	transition: none;
	color: #161320;
	background: #bd93f9;
}
#bluetooth {
        color: #161320;
        background: #b6e3ce;
}

#pulseaudio {
	color: #1A1826;
	background: #FAE3B0;
}

#battery {
	color: #161320;
	background: #B5E8E0;
}

#battery.charging, #battery.plugged {
	color: #161320;
    background-color: #B5E8E0;
}

#battery.critical:not(.charging) {
    background-color: #B5E8E0;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#backlight {
	color: #161320;
	background: #F8BD96;
}
#clock {
	color: #161320;
	background: #ABE9B3;
	/*background: #1A1826;*/
}

#memory {
	color: #161320;
	background: #DDB6F2;
}
#cpu {
	color: #161320;
	background: #96CDFB;
}

#temperature {
	color: #161320;
	background: #96CDFB;
}

#tray {
	color: #B5E8E0;
	background: #929320;
}

