* {
    main-bg:            #231028E6;
    main-fg:            #637AA6;
    main-br:            #2C3255;
    main-ex:            #383C4A;
    select-bg:          #375688;
    select-fg:          #DCEFD7;
}
