window {
  margin: 0px;
  border: 2px solid rgba(239, 182, 242, 0.2);
  border-radius: 5px;
  background-color: rgba(221, 182, 242, 0.5);
  font-family: "Maple Mono NF";
  font-size: 12px;
}

#input {
  margin: 5px;
  border: 1px solid rgba(221, 182, 242, 0.5);
  color: #7aa2f7;
  background-color: rgba(221, 182, 242, 0.5);
}

#input image {
  color: #7aa2f7;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: rgba(221, 182, 242, 0.5);
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: rgba(221, 182, 242, 0.5);
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #7aa2f7;
}

#entry:selected {
  background-color: rgba(239, 182, 242, 0.2);
  font-weight: normal;
}

#text:selected {
  background-color: rgba(239, 182, 242, 0.2);
  font-weight: normal;
}
