window {
  margin: 0px;
  border: 2px solid rgba(122, 162, 242, 0.6);
  border-radius: 5px;
  background-color: rgba(122, 162, 242, 0.6);
  font-family: "FiraCode Nerd Font Mono";
  font-size: 12px;
}

#input {
  margin: 5px;
  border: 1px solid rgba(122, 162, 242, 0.5);
  color: #7aa2f7;
  background-color: rgba(122, 162, 242, 0);
}

#input image {
  color: #7aa2f7;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: rgba(122, 162, 242, 0);
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: rgba(122, 162, 242, 0);
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: black;
}

#entry:selected {
  background-color: rgba(132, 162, 242, 0.2);
  font-weight: normal;
}

#text:selected {
  background-color: rgba(132, 162, 242, 0);
  font-weight: normal;
}
