/* Sorting from outside to inside */
window {
  background-color: rgba(203, 166, 247, 1);
  border-radius: 8px;
  font-family: "Maple Mono SC NF";
}

#outer-box {
  border: none;
  border-radius: 8px;
  background: transparent;
}

#input {
  padding: 4px;
  margin: 4px;
  padding-left: 20px;
  border: none;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgba(123, 104, 238, 1) 0%,
    rgba(203, 166, 247, 1) 100%
  );
  outline: none;
  border-radius: 8px;
  margin: 10px;
  margin-bottom: 2px;
}
#input:focus {
  border: none;
}

#scroll {
  margin-top: 5px;
  border: none;
  border-radius: 8px;
  margin-bottom: 5px;
  background: transparent;
}

#inner-box {
  margin: 4px;
  border: 10px;
  border-radius: 8px;
  font-weight: bold;
  background: transparent;
}

#entry {
  margin-left: 6px;
  margin-right: 6px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
}

#entry:selected {
  border: none;
  border-radius: 8px;
  outline: none;
  background: linear-gradient(
    45deg,
    rgba(123, 104, 238, 1) 30%,
    rgba(203, 166, 247, 1) 100%
  );
}

#text {
  color: black;
}

#text:selected {
  color: white;
  margin: 0px 0px;
  border: none;
  border-radius: 8px;
}
